include includes/globals
-

    currentPage = 'About Us'
    hideSkillFooters = true

doctype html
html(lang="en")
    include includes/head

    body.str
        include includes/header

        main

            section.container-fluid.bg-blue
                    .str-hero.jumbotron
                        h1.display-1= 'A Team of '
                            span.clr-bright-blue Leaders

                        p.lead.wide.
                            We’re an experienced group of sales and marketing leaders, and education
                            and coaching stalwarts who’ve all held senior positions at global corporations,
                            or rolled up our sleeves to turn table-top start-ups into successful
                            international businesses; and in many cases, we’ve done both!
                            <br><br>
                            We know how great it feels to be at the top of our game, and to work for an organisation that just keeps getting better, and we’re passionate about enabling others to feel the same.

            section.container-fluid.bg-light-cream
                    .row.text-center.wide-picture-grid
                        each consultant in team
                            .col-12.col-md-6.col-xl-4.str-grid-pic
                                .about-us-image-tile
                                    img.h-align(src=consultant.image)
                                    img.h-align.gradient(src="img/shadow.png")
                                    img.h-align.overlay.overlay-link(src=consultant.image.replace('.jpg', '_blur.jpg'), data-overlay=consultant.overlayId)
                                    .name-caption-container.text-center
                                        .buttons.upper
                                            if(consultant.twitter)
                                                a.button(href=consultant.twitter, target="_blank")
                                                    img(src='img/twitter-white.svg')
                                            if(consultant.linkedIn)
                                                a.button(href=consultant.linkedIn, target="_blank")
                                                    img(src='img/linked-in-white.svg')
                                            a.button(href='mailto:' + consultant.email)
                                                img(src='img/email-white.svg')
                                                |  email


                                        .v-spacer
                                        h3.display-3.clr-white= consultant.fullName

                                        .buttons.lower
                                            .btn.btn-outline-light.overlay-link(data-overlay=consultant.overlayId) About #{consultant.firstName}
                                            h6.title.text-uppercase= consultant.title

                        .col-12.col-md-6.col-lg-12.str-grid-pic.bg-bright-blue.text-tile
                            .w-100.h-100.clr-white.about-us-image-tile
                                    h3.display-3.
                                        Unleash Your Potential
                                    p.
                                        We’re always on the lookout for like-minded
                                        individuals who want to make the incredible a reality.
                                        If you’ve got a track record of driving sales growth
                                        and delivering sustained commercial improvement,
                                        winning in new markets or restructuring businesses
                                        to make them outstanding, get in touch.

                                    a.btn.btn-lg.btn-secondary join us

            div.overlay-background(id="overlayBg", aria-hidden="true")
                .container-fluid.position-relative.h-100.p-0
                    each skill, index in expertise
                        section.overlay.h-100(id=skill.overlayId)
                            .row.h-100.m-0
                                .d-none.d-md-block.col-md-6.p-0.overlay-column.h-100
                                    .overlay-image-container.h-100.close-button
                                .col-12.col-md-6.p-0.overlay-column.h-100
                                    .close-button-bar.d-none.d-md-block
                                        .close-button-container
                                            a.close-button(href="#").bg-blue
                                                .cross
                                    .overlay-content.h-100

                                        .overlay-main.clearfix
                                            h6.clr-dark-blue.text-uppercase.font-weight-bold.clr-mid-blue.text-center.text-md-left Our Expertise
                                            h2.display-2.text-center.text-md-left!= skill.title.replace("<br>", " ")
                                            p.clr-mid-blue= skill.fullText
                                        if !hideSkillFooters
                                            if index < expertise.length - 1
                                                .overlay-footer.bg-light-cream
                                                    h6.text-uppercase Next Field of Expertise
                                                    h4.display-4
                                                        a.overlay-link(href='#' + expertise[index + 1].overlayId, data-overlay=expertise[index + 1].overlayId)!= expertise[index + 1].title.replace("<br>", " ")
                                            if index > 0
                                                .overlay-footer.bg-light-cream
                                                    h6.text-uppercase Previous Field of Expertise
                                                    h4.display-4
                                                        a.overlay-link(href='#' + expertise[index - 1].overlayId, data-overlay=expertise[index - 1].overlayId)!= expertise[index - 1].title.replace("<br>", " ")
                                    .close-button-bar.bottom.d-md-none
                                        .close-button-container
                                            a.close-button(href="#").bg-blue
                                                .cross


                    each consultant in team
                        section.overlay.h-100(id=consultant.overlayId)
                            .row.h-100.m-0
                                .d-none.d-md-block.col-md-6.p-0.overlay-column.h-100
                                    .overlay-image-container.h-100
                                        img(src=consultant.overlayImage).w-100
                                .col-12.col-md-6.p-0.overlay-column.h-100
                                    .close-button-bar.d-none.d-md-block
                                        .close-button-container
                                            a.close-button(href="#").bg-blue
                                                .cross
                                    .overlay-content.h-100
                                        .d-md-none
                                            img(src=consultant.image).w-100
                                        .overlay-main.clearfix
                                            h6.clr-dark-blue.text-uppercase.font-weight-bold.clr-mid-blue= consultant.title
                                            h2.display-2= consultant.fullName
                                            .clr-mid-blue
                                                != consultant.fullText
                                            .contact-links
                                                if(consultant.twitter)
                                                    a(href=consultant.twitter, target="_blank")
                                                        i.twitter
                                                if(consultant.linkedIn)
                                                    a(href=consultant.linkedIn, target="_blank")
                                                        i.linked-in
                                                if(consultant.email)
                                                    a(href='mailto:' + consultant.email)
                                                        i.email
                                                        span.clr-dark-blue Email
                                        .overlay-footer.bg-light-cream
                                            h4.display-4= 'Speak to ' + consultant.firstName + ' about:'
                                            .consultant-skill-box
                                                each skill in consultant.skills
                                                    if expSkill = expertiseDict[skill]
                                                        a.skill.overlay-link(href='#' + expSkill.overlayId, data-overlay=expSkill.overlayId)!= expSkill.title.replace("<br>", " ").replace("<br>", " ")
                                                    else
                                                        a.skill(href="#")= skill
                                    .close-button-bar.bottom.d-md-none
                                        .close-button-container
                                            a.close-button(href="#").bg-blue
                                                .cross

            include includes/trailer
        include includes/footer

    include includes/scripts
