include includes/globals
-

    var leadInsights = [
        insights[0],
        insights[1]
    ];

    var followInsights = [
        insights[2],
        insights[3],
        insights[4],
        insights[5]
    ];

    currentPage = 'Insights'

doctype html
html(lang="en")
    include includes/head

    body.str
        include includes/header
        main

            section.container-fluid.bg-blue
                    .str-hero.jumbotron
                        h1.display-1.clr-white= 'Expert '
                            span.clr-bright-blue Insights

            section.container-fluid
                .row.text-center
                    each insight in leadInsights
                        .col-12.col-md-6.str-insight-pic
                            .insight-image-tile.w-100
                                img.h-align(src=insight.image)
                                img.h-align.gradient(src="img/shadow.png")
                                .insight-info.text-left.p-5

                                    .author
                                        img.d-inline-block(src=insight.author.image)
                                        .author-details.d-inline-block
                                            h4= insight.author.fullName
                                            h6= insight.author.title
                                    .article-title
                                        h4.display-5.clr-white(class=insight.title.length < 80 ? "lge" : "")!= insight.title

                                    a.btn.btn-primary.text-uppercase(href=insight.link) Read Article

            section.container-fluid
                each fInsight in followInsights
                        .row(class=fInsight.bgClass).str-insight-stripe
                            .col-1.col-sm-2
                            .col-10.col-sm-8
                                .insight-info.text-left
                                    .img-container
                                        img.d-inline-block(src=fInsight.author.image)
                                    .insight-details
                                        h6= fInsight.author.fullName + ', ' + fInsight.author.title
                                        h4= fInsight.title
                            .col-1.col-sm-2

            //include includes/trailer
        include includes/footer

    include includes/scripts
