include includes/globals
-
    var insights = [
    {
        title: "Bridging The Gap Between Your Strategy And Your Sales Teams’ Ability To Fullfil It",
        link: "#",
        image: "img/article-holder-1.jpg",
        author: {
            id: "team-garry-v",
            fullName: 'Garry Veale',
            title: 'Chief Executive Officer',
            image: 'img/oval-garry-v.jpg'
        }
    },
    {
        title: "3 Quick Strategies to Drive Sales Productivity",
        link: "#",
        image: "img/article-holder-2.jpg",
        author: {
            id: "team-robert-f",
            fullName: 'Robert Fox',
            title: 'Senior Consultant',
            image: 'img/oval-robert-f.jpg'
        }
    },
    {
        title: "3 Lessons Brexit Teaches Us About Objections Handling",
        link: "#",
        image: "img/article-holder-1",
        author: {
            id: "team-robert-f",
            fullName: 'Robert Fox',
            title: 'Senior Consultant',
            image: 'img/oval-robert-f.jpg'
        }
    },
    {
        title: "Bridging The Gap Between Your Strategy And Your Sales Teams’ Ability To Fullfil It",
        link: "#",
        image: "img/article-holder-1",
        author: {
            id: "team-garry-v",
            fullName: 'Garry Veale',
            title: 'Chief Executive Officer',
            image: 'img/oval-garry-v.jpg'
        }
    },
    {
        title: "Training & coaching methodologies that can transform your business for sustained growth",
        link: "#",
        image: "img/article-holder-2",
        author: {
        id: "team-mark-s",
        fullName: 'Mark Savinson',
        title: 'Chief Operating Officer',
        image: 'img/oval-mark-s.jpg'
        }
    },
    {
        title: "Tools to activate your revenue goals",
        link: "#",
        image: "img/article-holder-2",
        author: {
        id: "team-garry-v",
        fullName: 'Peter Smith',
        title: 'Operations Director',
        image: 'img/oval-peter-s.jpg'
        }
    }
    ];

    var leadInsights = [
        insights[0],
        insights[1]
    ];

    var followInsights = [
        insights[2],
        insights[3],
        insights[4],
        insights[5]
    ];


    currentPage = 'About Us'

doctype html
html(lang="en")
    include includes/head

    body.str
        include includes/header

        main

            section.container-fluid.bg-blue
                    .str-hero.jumbotron
                        h1.display-4= 'Expert '
                            span.clr-bright-blue Insights

            section.container-fluid
                .row.text-center
                    each insight in leadInsights
                        .col-12.col-sm-6.str-insight-pic
                            .insight-image-tile.w-100
                                img.h-align(src=insight.image)
                                img.h-align.gradient(src="img/shadow.png")
                                .insight-info.text-left.p-4

                                    .author
                                        img.d-inline-block(src=insight.author.image)
                                        .author-details.d-inline-block
                                            h4= insight.author.fullName
                                            h6= insight.author.title

                                    h4.display-5.clr-white!= insight.title

                                    h6
                                        a(href=insight.link) read article




            //include includes/trailer
            include includes/footer

    include includes/scripts
