include includes/globals
-
    var steps = [
    {
        index: "1.",
        title: "Analyse",
        image: "img/icon-analyse.svg",
        text: "Before we offer you a solution we take time to understand your problem. Our early stage analysis is delivered with speed and precision in a matter of weeks."
    },
    {
        index: "2.",
        title: "Identify",
        image: "img/icon-improve.svg",
        text: "We identify the inhibitors preventing you achieving your revenue goals; then we build a blueprint for change to help you tackle them."
    },
    {
        index: "3.",
        title: "Improve",
        image: "img/icon-sustain.svg",
        text: "From here we build sales coaching and education programs to arm your teams with the skills and knowledge they need to achieve sustained commercial improvement."
    },
    {
        index: "4.",
        title: "Sustain",
        image: "img/icon-sustain.svg",
        text: "Our goal is your success. Our services concentrate on the 20% change that will deliver 80% of the results, to achieve the cultural business transformation that will accelerate sales performance and sustainable competitive advantage."
    },
    {
        index: "5.",
        title: "Succeed",
        image: "img/icon-succeed.svg",
        text: "Ongoing assessment and training tools give you the power to continue to build your sales team’s competencies, so you continue to hit your targets."
    }
    ]

    var services = [
    {
        title: "Discovery",
        className: "discovery",
        text: "Our rapid impact analysis enables us to identify with speed and precision your mission critical priorities and pinpoint the areas of your business that are misaligned to them...",
        buttonText: "Continue Reading",
        image: "",
        link: "#overlay-discovery"
    },
    {
        title: "Mapping",
        className: "mapping",
        text: "Using the blueprint from the Discovery phase, our multi-discipline team of senior sales and marketing leaders helps you to navigate a course towards sustained competitive advantage...",
        buttonText: "Continue Reading",
        image: "",
        link: "#overlay-mapping"
    },
    {
        title: "Pathfinder",
        className: "pathfinder",
        text: "Pathfinder bridges that gap between your strategy and your sales team’s ability to fulfil it. We translate mission critical objectives into achievable deliverables...",
        buttonText: "Continue Reading",
        image: "",
        link: "#overlay-pathfinder"
    },
    {
        title: "Compass",
        className: "compass",
        text: "When we give your teams the tools to achieve your revenue goals, we do it in a way that works best for your business...",
        buttonText: "Continue Reading",
        image: "",
        link: "#overlay-compass"
    }


    ]

    var expertise = [
        {
            id: "hexTile_1",
            title: "Messaging",
            summary: "We work with you to ensure the strategic goals of your company…",
            link: "#"
        },
        {
        id: "hexTile_2",
            title: "Customer<br>Segmentation",
            summary: "We work with you to ensure the strategic goals of your company…",
            link: "#"
        },
        {
        id: "hexTile_3",
        title: "Compensation<br>& Incentives",
        summary: "We work with you to ensure the strategic goals of your company…",
        link: "#"
        },
        {
        id: "hexTile_4",
        title: "Sales Force<br>Deployment",
        summary: "We work with you to ensure the strategic goals of your company…",
        link: "#"
        },
        {
        id: "hexTile_5",
        title: "Performance<br>Management",
        summary: "We work with you to ensure the strategic goals of your company…",
        link: "#"
        },
        {
            id: "hexTile_6",
        title: "Sales Tools<br>& Process",
        summary: "We work with you to ensure the strategic goals of your company…",
        link: "#"
        },
        {
        id: "hexTile_7",
        title: "Reporting<br>& Analysis",
        summary: "We work with you to ensure the strategic goals of your company…",
        link: "#"
        },
        {
        id: "hexTile_8",
        title: "Sales Strategy<br>Alignment",
        summary: "We work with you to ensure the strategic goals of your company…",
        link: "#"
        },
        {
        id: "hexTile_9",
        title: "Recruiting,<br>On-boarding<br>& Re-boarding",
        summary: "We work with you to ensure the strategic goals of your company…",
        link: "#"
        },
        {
        id: "hexTile_10",
        title: "Sales<br>Efficiency",
        summary: "We work with you to ensure the strategic goals of your company…",
        link: "#"
        },
        {
            id: "hexTile_11",
        title: "Pricing &<br>Pricing Models",
        summary: "We work with you to ensure the strategic goals of your company…",
        link: "#"
        },
        {
        id: "hexTile_12",
        title: "Customer<br>Segmentation",
        summary: "We work with you to ensure the strategic goals of your company…",
        link: "#"
        },
        {
        id: "hexTile_13",
        title: "Customer<br>Segmentation",
        summary: "We work with you to ensure the strategic goals of your company…",
        link: "#"
        }
    ];

    var consultants = [
        {
        firstName: 'Tony',
        fullName: 'Tony Wand',
        title: 'Senior Consultant',
        link: '#',
        email: 'info@str.com',
        summary: "Sales Tools & Process, Channel Engagement, Sales Efficiency, Winning in New Markets & Territories, Performance Management",
        image: 'img/about-tony-w.jpg'
            },
       {
        firstName: 'Martin',
        fullName: 'Martin Dean',
        title: 'Senior Consultant',
        link: '#',
        email: 'info@str.com',
        summary: "Sales Efficiency, New Product Messaging, Competitor Positioning, Sales Efficiency, Recruiting, On-boarding and Re-boarding",
        image: 'img/about-martin-d.jpg'
        },
        {
        firstName: 'Neil',
        fullName: 'Neil Whitelock',
        title: 'Senior Consultant',
        link: '#',
        email: 'info@str.com',
        summary: "Customer Segmentation, Compensation & Incentives, Sales Tools & Process, Sales Efficiency, Reporting & Analysis",
        image: 'img/about-neil-w.jpg'
        }
    ]

    currentPage = 'Services'

doctype html
html(lang="en")
    include includes/head

    body.str

        include includes/header


        main

            section
                .container-fluid.bg-blue
                    .str-hero.jumbotron
                        h1.display-4='5 Steps to '
                            span.clr-bright-blue Incredible

                        p.lead.
                            Our clients come to us for sales training.
                            We believe in a different approach.
                            Like medicine, sales force transformations are only as good as the initial diagnosis.
                            After an awkward first conversation,
                            our most sceptical prospects often become our loyalist clients.
            section
                .container-fluid
                    .row.text-center.str-card-container
                        each step in steps
                            .col-12.col-sml-6.col-md-4.str-card
                                .icon-container
                                    img(src=step.image)
                                h4.display-4
                                    span.heading-number= step.index
                                    = ' ' + step.title
                                p= step.text

            section
                .container-fluid.bg-yellow
                    .container
                        .row.align-content-center.str-main
                            .col-12.col-md-6
                                h1.display-1 Services
                            .col-12.v-spacer.d-md-none
                            p.col-12.col-md-6.clr-dark-blue.
                                Whether you operate in one town or across multiple languages and cultures,
                                we’ve almost certainly worked with a company like yours before.
                                We recognize that you need to deliver short term gains along with
                                longer-term business improvement so we break down our approach into
                                four distinct but complementary programmes. Each of our award-winning
                                programmes delivers immediate short-term successes but is also a key
                                component for cultural change and sustained commercial improvement.


            each service in services
                section.container-fluid(class=service.className)
                    .container.str-pic-hero
                        h2.display-2= service.title
                        p=service.text
                        p
                            a.btn.btn-primary.btn-lg.overlay-link(href=service.link, role="button")=service.buttonText



            section.container-fluid.bg-blue
                .str-main.container
                    h1.display-1.text-center.clr-white Our Expertise
                    #hexLayout1.str-hex-tile-container

                        each skill in expertise
                            .str-hex-tile(id=skill.id)
                                p.text-center.align-middle.clr-white
                                    span!= skill.title
                                    span.em-line


            section.container-fluid.bg-yellow
                .container
                    .str-main.row.align-content-center.justify-content-center
                        .col-12.col-md-6.col-lg-4
                            h1.display-1 Our Consultants
                        .col-12.v-spacer.d-md-none
                        p.col-12.col-md-6.col-lg-4.clr-dark-blue.p-4.
                            We’re experienced group of sales and marketing leaders,
                            and education and coaching stalwarts who’ve all held
                            senior positions at global corporations, or rolled up
                            our sleeves to turn table-top start-ups into successful
                            international businesses; and in many cases, we’ve done both!


            section.container-fluid
                .row.str-feature-box-container
                    each consultant in consultants
                        .col-12.col-sm-4.str-feature-box.bg-light-cream
                            img.str-feature-image(src=consultant.image)
                            .str-feature-text.text-center
                                h3.display-3= consultant.fullName
                                h6.text-uppercase= consultant.title
                                p= consultant.summary
                                a.str-button.btn.btn-lg.btn-outline-secondary(href=consultant.link)= 'About ' + consultant.firstName
                                a.str-button.btn.btn-primary.btn-lg(href='mailto:'+consultant.email) Get in Touch
                .row
                    .col-12.text-center.bg-mid-cream.p-4
                        .circles.text-center
                            .circle.tony
                            .circle.martin
                            .circle.neil
                            a.circle.blue.bg-blue.clr-white(href='#') 9+
                        .d-inline-block.consult-link-text-container
                            a.d-inline-block.clr-dark-blue.font-weight-bold(href='#')
                                | Show All Consultants

            section#overlay-discovery.overlay(aria-hidden="true")
                .inner-overlay.container-fluid
                    .row
                        .col-6.p-0
                            .overlay-image-container
                                img(src="img/overlay-discovery.jpg")
                        .col-6.p-0
                            .overlay-content
                                .overlay-main
                                    h6 Services
                                    h2.display-2 Discovery
                                .overlay-footer
                                    h6 Next Service
                                    h3.display-3 Mapping

            section#overlay-mapping.overlay(aria-hidden="true")
                .inner-overlay.container-fluid
                    .row
                        .col-6.p-0
                            .overlay-image-container
                                img(src="img/overlay-discovery.jpg")
                        .col-6.p-0
                            .overlay-content
                                .overlay-main
                                    h6 Services
                                    h2.display-2 Mapping
                                .overlay-footer
                                    h6 Next Service
                                    h3.display-3 Mapping


            include includes/trailer
            include includes/footer

    include includes/scripts
