include includes/globals
-
    var steps = [
    {
    index: "1.",
    title: "Analyze",
    image: "img/icon-analyse.svg",
    text: "Before we offer you a solution we take time to understand your problem. Our early stage analysis is delivered with speed and precision in a matter of weeks."
    },
    {
    index: "2.",
    title: "Identify",
    image: "img/icon-identify.svg",
    text: "We identify the inhibitors preventing you achieving your revenue goals; then we build a blueprint for change to help you tackle them."
    },
    {
    index: "3.",
    title: "Improve",
    image: "img/icon-improve.svg",
    text: "From here we build sales coaching and education programs to arm your teams with the skills and knowledge they need to achieve sustained commercial improvement."
    },
    {
    index: "4.",
    title: "Sustain",
    image: "img/icon-sustain.svg",
    text: "Ongoing assessment and training tools give you the power to continue to build your sales team’s competencies, so you continue to hit your targets."
    },
    {
    index: "5.",
    title: "Succeed",
    image: "img/icon-succeed.svg",
    text: "Our goal is your success. Our services concentrate on the 20% change that will deliver 80% of the results, to achieve the cultural business transformation that will accelerate sales performance and sustainable competitive advantage."
    }
    ]

    var services = [
    {
    title: "Discovery",
    className: "discovery",
    text: "Our rapid impact analysis enables us to identify with speed and precision your mission critical priorities and pinpoint the areas of your business that can benefit from improved alignment...",
    buttonText: "Continue Reading",
    image: "",
    overlayId: "overlay-discovery",
    fullText: "<p>Our rapid impact analysis enables us to identify with speed and precision your mission critical priorities and pinpoint the areas of your business that can benefit from improved alignment. We focus on the key business areas that have the greatest impact on revenue, and where the most impactful changes can be made. From our findings we create a blueprint for change, which will always include short term gains and longer-term business improvement.</p>",
    },
    {
    title: "Mapping",
    className: "mapping",
    text: "UsUsing the blueprint from the Discovery phase, our multidiscipline team of senior sales and marketing leaders helps you to navigate a course towards sustained competitive advantage...",
    buttonText: "Continue Reading",
    image: "",
    overlayId: "overlay-mapping",
    fullText: "<p>Using the blueprint from the Discovery phase, our multidiscipline team of senior sales and marketing leaders helps you to navigate a course towards sustained competitive advantage; working with you to efficiently build or restructure critical functions to practically support your transformation, and turn your strategy to revenue. The size and complexity of your organization will dictate whether hands-on change management or, a short-term mentoring program, delivered in person or remotely, works best for your business and budget.</p>"
    },
    {
    title: "Pathfinder",
    className: "pathfinder",
    text: "Pathfinder bridges that gap between your strategy and your sales team’s ability to fulfil it. We translate mission critical objectives into achievable deliverables...",
    buttonText: "Continue Reading",
    image: "",
    overlayId: "overlay-pathfinder",
    fullText: "<p>Pathfinder bridges that gap between your strategy and your sales team’s ability to fulfil it. We translate mission critical objectives into achievable deliverables. We specialize in building the correct environments for your teams to develop the knowledge, skills, and behaviors they need to achieve your business objectives. We consider the market environment, company culture, team dynamics and your time frames. We combine traditional e-learning and training with self-paced and group modules, workshops, coaching and ongoing assessment. Perhaps most importantly, we promote manager-led competency training. In this way we build the most effective program to deliver the lasting change you need, in the fastest time possible.</p>"
    },
    {
    title: "Compass",
    className: "compass",
    text: "When we give your teams the tools to achieve your revenue goals, we do it in a way that works best for your business...",
    buttonText: "Continue Reading",
    image: "",
    overlayId: "overlay-compass",
    fullText: "<p>When we give your teams the tools to achieve your revenue goals, we do it in a way that works best for your business.</p><p>We work with your existing software and learning environments or we offer you <b>SKILLbuild™</b>. Our award winning online assessment and training library includes over 70 e-learning modules covering the essentials of sales training. The self-paced modules can be delivered off-the-shelf or customized to address the specific needs of your business.</p><p>Benchmarking tools enable us to evaluate and coach to a pre-agreed standard across the business, while simultaneously helping individuals to identify their own areas of weakness and to quickly learn, or refresh, key skills to plug the gap.</p><p>This highly pragmatic approach enables us to customize online learning by business type and size, department, or job function; even tailoring it to individual team members’ needs and time constraints. Supporting this online learning with workshops and a continuous coaching environment, we ensure sales teams spend less time in the classroom and more time in the field. All the while ongoing access to learning and assessment tools fosters a continuous coaching culture for sustained cultural and behavioural change.</p>"
    }


    ]

    var expertise = [
    {
    id: "expertise-alignment",
    overlayId: "overlay-expertise-alignment",
    title: "Sales Strategy<br>Alignment",
    summary: "We work with you to ensure the strategic goals of your company…",
    fullText: "We work with you to ensure the strategic goals of your company are reflected in a clearly defined sales strategy with clear metrics in place. We look for a comprehensive understanding of the total addressable market, current and potential wallet share, and identify ‘white space’ opportunities you can address to achieve your goal."
    },
    {
    id: "expertise-messaging",
    overlayId: "overlay-expertise-messaging",
    title: "Messaging",
    summary: "Your marketing team has worked hard to create a position for your company, but…",
    fullText: "Your marketing team has worked hard to create a position for your company, but does it support your mission critical objectives? Is the sales organization and your channel able, and willing, to articulate your corporate messaging and use it as a point of differentiation in the sales cycle? Just as importantly, do your messages resonate with potential buyers? We look at where messaging gets lost in translation and identify the content and tools to enable sales teams to accurately communicate your value proposition."
    },
    {
    id: "expertise-segmentation",
    overlayId: "overlay-expertise-segmentation",
    title: "Customer<br>Segmentation",
    summary: "We work with you to ensure your sales method is aligned to your…",
    fullText: "We work with you to ensure your sales method is aligned to your customers’ buying behaviors and preferences, and balanced with your company’s profitability and growth goals.  We look at whether the market is correctly segmented, and consider customer buying behaviors and metrics, and how effectively they are being addressed. We also look at segment potential and profitability based on the cost of acquiring and serving the customer base, both directly and via the channel."
    },
    {
    id: "expertise-incentives",
    overlayId: "overlay-expertise-incentives",
    title: "Compensation<br>& Incentives",
    summary: "We assess whether your compensation plans support your mission…",
    fullText: "We assess whether your compensation plans support your mission critical objectives and if they reward the behavioral changes you need from your sales team. We look at whether they are optimized to recruit and retain top talent and if they adequately address all segments of your sales organization."
    },
    {
    id: "expertise-salesforce",
    overlayId: "overlay-expertise-salesforce",
    title: "Sales Force<br>Deployment",
    summary: "One of the most complex areas of discovery…",
    fullText: "One of the most complex areas of discovery. When we consider if the sales force is configured correctly we look at its size, structure and capabilities, checking it is effective enough to fulfil the market opportunity. We cover all aspects from sales operations right down to the support functions, looking at the alignment between sales, marketing and operations as a priority."
    },
    {
    id: "expertise-performance",
    overlayId: "overlay-expertise-performance",
    title: "Performance<br>Management",
    summary: "Consistency is key in performance management. We consider…",
    fullText: "Consistency is key in performance management. We consider how sales force effectiveness is mapped across all stages of the sales process and the most efficient way to improve upon it. We help develop or update formal processes and reporting cadence, and implement methods to ensure standards are enforced across territories."
    },
    {
    id: "expertise-tools",
    overlayId: "overlay-expertise-tools",
    title: "Sales Tools<br>& Process",
    summary: "The scaffolding that supports all high performing sales teams…",
    fullText: "The scaffolding that supports all high performing sales teams is discipline and rigour. We check whether your team has a disciplined sales process that is consistently applied across regions and job functions. We check that each step in the sales cycle has the correct method of advancement in place, and that the sales process is in line with customers’ buying journeys. We evaluate the tools and job functions used to support your sales team, identifying hurdles and fixes that can help improve sales force effectiveness."
    },
    {
    id: "expertise-reporting",
    overlayId: "overlay-expertise-reporting",
    title: "Reporting<br>& Analysis",
    summary: "Is what you are reporting on aligned to your strategic…",
    fullText: "Is what you are reporting on aligned to your strategic imperatives? Does your sales team have metrics in place for basics such as customer acquisition and retention, and share of wallet? Do you have effective processes in place to manage discounting, lead generation and channel opportunities? In addition to looking at the process, we also offer better insight into those leading indicators that will transform your business."
    },
    {
    id: "expertise-boarding",
    overlayId: "overlay-expertise-boarding",
    title: "Recruiting,<br>On-boarding<br>& Re-boarding",
    summary: "An often-overlooked area which can have a detrimental impact…",
    fullText: "An often-overlooked area which can have a detrimental impact on new recruits and the existing sales team. We’re looking at whether your organization has a clear definition of what the required roles, behaviors and competencies are for success in each sales position, and if there is a recruitment and coaching program in place that supports them.  We consider the impact of the existing sales team on new recruits, and focus on manager-led competency training and ongoing assessment. Finally, we look at how organizations build the right environment for staff to develop the skills, knowledge and capabilities they need to achieve the results the business expects."
    },
    {
    id: "expertise-efficiency",
    overlayId: "overlay-expertise-efficiency",
    title: "Sales<br>Efficiency",
    summary: "As you unleash the full potential of your sales team, can you…",
    fullText: "As you unleash the full potential of your sales team, can you make further improvements? We assess whether you are investing in the right areas for growth and how your sales overheads compare to the market, suggesting areas for change and improvement."
    },
    {
    id: "expertise-pricing",
    overlayId: "overlay-expertise-pricing",
    title: "Pricing &<br>Pricing Models",
    summary: "We look at your pricing strategy and how you manage…",
    fullText: "We look at your pricing strategy and how you manage discounts and rebates, and the move to new subscription pricing models. We address the commercial life cycle, the true cost to acquire and serve customers, and the pricing tools and analytics used within the business."
    },
    {
    id: "expertise-training",
    overlayId: "overlay-expertise-training",
    title: "Training &<br>Coaching",
    summary: "We look at how you educate your teams on the messages and…",
    fullText: "We look at how you educate your teams on the messages and behaviors that will enable them to achieve your objectives. Are you addressing all teams within the sales cycle - inside sales, the channel and even the customer services team? Is the training delivering the right results and how can you deliver sustained improvement fast?"
    }
    ];

    var consultants = [
    {
    firstName: 'Tony',
    fullName: 'Tony Wand',
    title: 'Senior Consultant',
    link: '#',
    email: 'tony.wand@strategytorevenue.com',
    summary: "Sales Tools & Process, Channel Engagement, Sales Efficiency, Winning in New Markets & Territories, Performance Management",
    image: 'img/about-tony-w.jpg'
    },
    {
    firstName: 'Martin',
    fullName: 'Martin Dean',
    title: 'Senior Consultant',
    link: '#',
    email: 'martin.dean@strategytorevenue.com',
    summary: "Sales Efficiency, New Product Messaging, Competitor Positioning, Sales Efficiency, Recruiting, On-boarding and Re-boarding",
    image: 'img/about-martin-d.jpg'
    },
    {
    firstName: 'Neil',
    fullName: 'Neil Whitelock',
    title: 'Senior Consultant',
    link: '#',
    email: 'neil.whitelock@straegytorevenue.com',
    summary: "Customer Segmentation, Compensation & Incentives, Sales Tools & Process, Sales Efficiency, Reporting & Analysis",
    image: 'img/about-neil-w.jpg'
    }
    ]

    currentPage = 'Services'

doctype html
html(lang="en")
    include includes/head

    body.str

        include includes/header


        main

            section.container-fluid.bg-blue
                    .str-hero.jumbotron
                        h1.display-4='5 Steps to '
                            span.clr-bright-blue Incredible

                        p.lead.
                            Our clients come to us for sales training. We believe in a different
                            approach. Like medicine, sales force transformations are only as good
                            as the initial diagnosis. After an awkward first conversation, our
                            most sceptical prospects often become our loyalist clients.
            section.container-fluid
                    .row.text-center.str-card-container
                        each step in steps
                            .col-12.col-sml-6.col-md-4.str-card
                                .icon-container
                                    img(src=step.image)
                                h3.display-3
                                    span.heading-number= step.index
                                    = ' ' + step.title
                                p= step.text

            section.container-fluid.bg-yellow
                        .row.str-main
                            .col-12.col-md-6.heading
                                h1.display-1 Services
                            .col-12.v-spacer.d-md-none
                            p.col-12.col-md-6.clr-dark-blue.
                                Whether you operate in one town or across multiple languages and cultures,
                                we’ve almost certainly worked with a company like yours before.
                                We recognize that you need to deliver short term gains along with
                                longer-term business improvement so we break down our approach into
                                four distinct but complementary programs. Each of our award-winning
                                programs delivers immediate short-term successes but is also a key
                                component for cultural change and sustained commercial improvement.


            each service in services
                section.container-fluid(class=service.className)
                    .row.str-pic-hero
                        .col-12.col-md-6.heading
                            h2.display-2= service.title
                            p=service.text

                            a.overlay-link(href='#' + service.overlayId, role="button", data-overlay=service.overlayId)=service.buttonText



            section.container-fluid.bg-blue.str-main
                    .content-center
                        h2.display-2.text-center.clr-white Our Expertise
                        #hexLayout1.str-hex-tile-container

                            each skill in expertise
                                .str-hex-tile.overlay-link(id=skill.id, data-overlay=skill.overlayId)
                                    .hex-inner.text-center.align-middle.clr-white
                                        a(href='#'+skill.overlayId, data-overlay=skill.overlayId)!= skill.title
                                        span.em-line

            section.container-fluid.bg-yellow
                .row.str-main
                    .col-12.col-md-6.heading
                        h1.display-1 Our Consultants
                    .col-12.v-spacer.d-md-none
                    p.col-12.col-md-6.clr-dark-blue.cons.
                        We’re experienced group of sales and marketing leaders,
                        and education and coaching stalwarts who’ve all held
                        senior positions at global corporations, or rolled up
                        our sleeves to turn table-top start-ups into successful
                        international businesses; and in many cases, we’ve done both!


            section.container-fluid
                .row.str-feature-box-container
                    each consultant in consultants
                        .col-12.col-sm-4.str-feature-box.bg-light-cream
                            img.str-feature-image(src=consultant.image)
                            .str-feature-text.text-center
                                h3.display-3= consultant.fullName
                                h6.display-6.text-uppercase= consultant.title
                                p.summary= consultant.summary
                                .links
                                    a.str-button.btn.btn-primary.btn-lg(href='mailto:' + consultant.email) Get in Touch
                                    a.str-button.btn.btn-lg.btn-outline-secondary(href=consultant.link)= 'About ' + consultant.firstName

                .row
                    .col-12.text-center.bg-mid-cream.p-5
                        .circles.text-center
                            .circle.tony
                            .circle.martin
                            .circle.neil
                            a.circle.blue.bg-blue.clr-white(href='#') 9+
                        .d-inline-block.consult-link-text-container
                            a.d-inline-block.clr-dark-blue.font-weight-bold(href='#')
                                | Show All Consultants

            div.overlay-background(id="overlayBg", aria-hidden="true")
                .container-fluid.position-relative.h-100
                    each service, index in services
                        section.overlay.h-100(id=service.overlayId)
                            .row.h-100.m-0
                                .col-6.p-0.overlay-column.h-100.left
                                    .overlay-image-container.h-100
                                        img(src="img/overlay-discovery.jpg")
                                .col-6.p-0.overlay-column.h-100.right
                                    .overlay-content.h-100
                                        .close-button-bar
                                            .close-button-container
                                                a.close-button(href="#").bg-blue
                                                    .cross
                                        .overlay-main.clearfix
                                            h6.clr-dark-blue.text-uppercase.font-weight-bold.clr-mid-blue Services
                                            h2.display-2= service.title
                                            .clr-mid-blue
                                                != service.fullText
                                        if index < services.length - 1
                                            .overlay-footer.bg-light-cream
                                                h6 Next Service
                                                h3.display-3
                                                    a.overlay-link(href='#' + services[index + 1].overlayId, data-overlay=services[index + 1].overlayId)= services[index + 1].title
                                        if index > 0
                                            .overlay-footer.bg-light-cream
                                                h6 Previous Service
                                                h3.display-3
                                                    a.overlay-link(href='#' + services[index - 1].overlayId, data-overlay=services[index - 1].overlayId)= services[index - 1].title


                    each skill, index in expertise
                        section.overlay.h-100(id=skill.overlayId)
                            .row.h-100.m-0
                                .col-6.p-0.overlay-column.h-100
                                    .overlay-image-container.h-100
                                        img(src="img/overlay-discovery.jpg")
                                .col-6.p-0.overlay-column.h-100
                                    .overlay-content.h-100
                                        .close-button-bar
                                            .close-button-container
                                                a.close-button(href="#").bg-blue
                                                    .cross
                                        .overlay-main.clearfix
                                            h6.clr-dark-blue.text-uppercase.font-weight-bold.clr-mid-blue Our Expertise
                                            h2.display-2!= skill.title.replace("<br>", " ")
                                            p.clr-mid-blue= skill.fullText
                                        if index < expertise.length - 1
                                            .overlay-footer.bg-light-cream
                                                h6 Next Field of Expertise
                                                h3.display-3
                                                    a.overlay-link(href='#' + expertise[index + 1].overlayId, data-overlay=expertise[index + 1].overlayId)!= expertise[index + 1].title.replace("<br>", " ")
                                        if index > 0
                                            .overlay-footer.bg-light-cream
                                                h6 Previous Field of Expertise
                                                h3.display-3
                                                    a.overlay-link(href='#' + expertise[index - 1].overlayId, data-overlay=expertise[index - 1].overlayId)!= expertise[index - 1].title.replace("<br>", " ")




            include includes/trailer
            include includes/footer

    include includes/scripts
