include includes/globals
-
    var steps = [
    {
    index: "1.",
    title: "Analyze",
    image: "img/icon-analyse.svg",
    text: "Before we offer you a solution we take time to understand your problem. Our early stage analysis is delivered with speed and precision in a matter of weeks."
    },
    {
    index: "2.",
    title: "Identify",
    image: "img/icon-identify.svg",
    text: "We identify the inhibitors preventing you achieving your revenue goals; then we build a blueprint for change to help you tackle them."
    },
    {
    index: "3.",
    title: "Improve",
    image: "img/icon-improve.svg",
    text: "From here we build sales coaching and education programs to arm your teams with the skills and knowledge they need to achieve sustained commercial improvement."
    },
    {
    index: "4.",
    title: "Sustain",
    image: "img/icon-sustain.svg",
    text: "Ongoing assessment and training tools give you the power to continue to build your sales team’s competencies, so you continue to hit your targets."
    },
    {
    index: "5.",
    title: "Succeed",
    image: "img/icon-succeed.svg",
    text: "Our goal is your success. Our services concentrate on the 20% change that will deliver 80% of the results, to achieve the cultural business transformation that will accelerate sales performance and sustainable competitive advantage."
    }
    ]

    var services = [
    {
    title: "Discovery",
    className: "discovery",
    text: "Our rapid impact analysis enables us to identify with speed and precision your mission critical priorities and pinpoint the areas of your business that can benefit from improved alignment...",
    buttonText: "Continue Reading",
    image: "",
    overlayId: "overlay-discovery",
    overlayImage: "img/overlay-services-discovery.jpg",
    fullText: "<p>Our rapid impact analysis enables us to identify with speed and precision your mission critical priorities and pinpoint the areas of your business that can benefit from improved alignment. We focus on the key business areas that have the greatest impact on revenue, and where the most impactful changes can be made. From our findings we create a blueprint for change, which will always include short term gains and longer-term business improvement.</p>",
    },
    {
    title: "Mapping",
    className: "mapping",
    text: "UsUsing the blueprint from the Discovery phase, our multidiscipline team of senior sales and marketing leaders helps you to navigate a course towards sustained competitive advantage...",
    buttonText: "Continue Reading",
    image: "",
    overlayId: "overlay-mapping",
    overlayImage: "img/overlay-services-mapping.jpg",
    fullText: "<p>Using the blueprint from the Discovery phase, our multidiscipline team of senior sales and marketing leaders helps you to navigate a course towards sustained competitive advantage; working with you to efficiently build or restructure critical functions to practically support your transformation, and turn your strategy to revenue. The size and complexity of your organization will dictate whether hands-on change management or, a short-term mentoring program, delivered in person or remotely, works best for your business and budget.</p>"
    },
    {
    title: "Pathfinder",
    className: "pathfinder",
    text: "Pathfinder bridges that gap between your strategy and your sales team’s ability to fulfil it. We translate mission critical objectives into achievable deliverables...",
    buttonText: "Continue Reading",
    image: "",
    overlayId: "overlay-pathfinder",
    overlayImage: "img/overlay-services-pathfinder.jpg",
    fullText: "<p>Pathfinder bridges that gap between your strategy and your sales team’s ability to fulfil it. We translate mission critical objectives into achievable deliverables. We specialize in building the correct environments for your teams to develop the knowledge, skills, and behaviors they need to achieve your business objectives. We consider the market environment, company culture, team dynamics and your time frames. We combine traditional e-learning and training with self-paced and group modules, workshops, coaching and ongoing assessment. Perhaps most importantly, we promote manager-led competency training. In this way we build the most effective program to deliver the lasting change you need, in the fastest time possible.</p>"
    },
    {
    title: "Compass",
    className: "compass",
    text: "When we give your teams the tools to achieve your revenue goals, we do it in a way that works best for your business...",
    buttonText: "Continue Reading",
    image: "",
    overlayId: "overlay-compass",
    overlayImage: "img/overlay-services-compass.jpg",
    fullText: "<p>When we give your teams the tools to achieve your revenue goals, we do it in a way that works best for your business.</p><p>We work with your existing software and learning environments or we offer you <b>SKILLbuild™</b>. Our award winning online assessment and training library includes over 70 e-learning modules covering the essentials of sales training. The self-paced modules can be delivered off-the-shelf or customized to address the specific needs of your business.</p><p>Benchmarking tools enable us to evaluate and coach to a pre-agreed standard across the business, while simultaneously helping individuals to identify their own areas of weakness and to quickly learn, or refresh, key skills to plug the gap.</p><p>This highly pragmatic approach enables us to customize online learning by business type and size, department, or job function; even tailoring it to individual team members’ needs and time constraints. Supporting this online learning with workshops and a continuous coaching environment, we ensure sales teams spend less time in the classroom and more time in the field. All the while ongoing access to learning and assessment tools fosters a continuous coaching culture for sustained cultural and behavioural change.</p>"
    }


    ]

    var consultants = team.filter(function(t){ return t.fullName === "Tony Wand" || t.fullName === "Martin Dean" || t.fullName === "Neil Whitelock" })

    var abc =[
    {
        firstName: 'Tony',
        fullName: 'Tony Wand',
        title: 'Senior Consultant',
        twitter: null,
        linkedIn: 'https://www.linkedin.com/in/tonywand/',
        email: 'tony.wand@strategytorevenue.com',
        summary: "Sales Tools & Process, Channel Engagement, Sales Efficiency, Winning in New Markets & Territories, Performance Management",
        image: 'img/about-tony-w.jpg',
        overlayId: "overlay-about-tony-w",
        fullText: '<p class="lead">With an unswerving focus on sales productivity and profitability, Tony is an expert at helping sales teams make a positive impact on their company’s top line number.</p><p>His skills lie in helping sales teams to sell more value-based solutions, driving share of wallet and reducing the sales cycle. Tony frequently works with companies to roll out new routes to market, engage sales teams in new territories, and to drive channel partner revenue.</p><p>Prior to joining Strategy to Revenue, Tony ran his own consultancy firm, and held senior sales leadership positions at Dell, NetApp and Azlan.</p>',
        overlayImage: "img/overlay-about-tony-w.jpg",
        skills: [
            "expertise-tools",
            "expertise-efficiency",
            "expertise-performance"
        ]
    },
    {
        firstName: 'Martin',
        fullName: 'Martin Dean',
        title: 'Senior Consultant',
        twitter: null,
        linkedIn: 'https://www.linkedin.com/in/martin-dean-1498b6/',
        email: 'martin.dean@strategytorevenue.com',
        summary: "Sales Efficiency, New Product Messaging, Competitor Positioning, Sales Efficiency, Recruiting, On-boarding and Re-boarding",
        image: 'img/about-martin-d.jpg',
        overlayId: "overlay-about-martin-d",
        fullText: '<p class="lead">Martin is a passionate educator with a pedigree in developing high impact coaching and communications programmes that focus on practical and measurable outcomes. One of the co-founders of Strategy to Revenue, and with over two decades of experience, Martin is a sales enablement veteran with expertize in delivering multi-national projects to large corporates.</p><p>His innovative approach to motivating, equipping and mobilising work teams melds multi-media and more traditional learning environments, and has seen him create some of Strategy to Revenue’s most popular sales enablement programmes.</p>',
        overlayImage: "img/overlay-about-martin-d.jpg",
        skills: [
            "expertise-efficiency",
            "expertise-messaging",
            "expertise-boarding"
        ]
    },
    {
        firstName: 'Neil',
        fullName: 'Neil Whitelock',
        title: 'Senior Consultant',
        twitter: "https://twitter.com/Neil_Whitelock",
        linkedIn: 'https://www.linkedin.com/in/neilwhitelock/',
        email: 'neil.whitelock@straegytorevenue.com',
        summary: "Customer Segmentation, Compensation & Incentives, Sales Tools & Process, Sales Efficiency, Reporting & Analysis",
        image: 'img/about-neil-w.jpg',
        overlayId: "overlay-about-neil-w",
        fullText: '<p class="lead">Neil is a highly successful and competitive business-leader with a proven track-record in building businesses, orchestrating business transformations, and driving sales-growth in technology and finance verticals. He is experienced at re-structuring organizations in response to changing market dynamics and payment models including cloud and SaaS, and running successful alliance and partner programmes globally.</p>',
        overlayImage: "img/overlay-about-neil-w.jpg",
        skills: [
            "expertise-segmentation",
            "expertise-incentives",
            "expertise-tools",
            "expertise-efficiency",
            "expertise-reporting"
        ]
    }
    ]

    currentPage = 'Services'


doctype html
html(lang="en")
    include includes/head

    body.str

        include includes/header


        main

            section.container-fluid.bg-blue
                    .str-hero.jumbotron
                        h1.display-4='5 Steps to '
                            span.clr-bright-blue Incredible

                        p.lead.
                            Our clients come to us for sales training. We believe in a different
                            approach. Like medicine, sales force transformations are only as good
                            as the initial diagnosis. After an awkward first conversation, our
                            most sceptical prospects often become our loyalist clients.
            section.container-fluid
                    .row.text-center.str-card-container
                        each step in steps
                            .col-12.col-sml-6.col-md-4.str-card
                                .icon-container
                                    img(src=step.image)
                                h3.display-3
                                    span.heading-number= step.index
                                    = ' ' + step.title
                                p= step.text

            section.container-fluid.bg-yellow
                        .row.str-main
                            .col-12.col-md-6.heading
                                h1.display-1 Services
                            .col-12.v-spacer.d-md-none
                            p.col-12.col-md-6.clr-dark-blue.
                                Whether you operate in one town or across multiple languages and cultures,
                                we’ve almost certainly worked with a company like yours before.
                                We recognize that you need to deliver short term gains along with
                                longer-term business improvement so we break down our approach into
                                four distinct but complementary programs. Each of our award-winning
                                programs delivers immediate short-term successes but is also a key
                                component for cultural change and sustained commercial improvement.


            each service in services
                section.container-fluid(class=service.className)
                    .row.str-pic-hero.overlay-link(data-overlay=service.overlayId)
                        .col-12.col-md-6.heading
                            h2.display-2= service.title
                            p=service.text
                            a.overlay-link(href='#' + service.overlayId, role="button")=service.buttonText



            section.container-fluid.bg-blue.str-main
                    .content-center
                        h1.display-1.text-center.clr-white Our Expertise
                        #hexLayout1.str-hex-tile-container

                            each skill in expertise
                                .str-hex-tile.overlay-link(id=skill.id, data-overlay=skill.overlayId)
                                    .hex-inner.text-center.align-middle.clr-white
                                        a(href='#'+skill.overlayId, data-overlay=skill.overlayId)!= skill.title
                                        span.em-line

            section.container-fluid.bg-yellow
                .row.str-main
                    .col-12.col-md-6.heading
                        h1.display-1 Our Consultants
                    .col-12.v-spacer.d-md-none
                    p.col-12.col-md-6.clr-dark-blue.cons.
                        We’re experienced group of sales and marketing leaders,
                        and education and coaching stalwarts who’ve all held
                        senior positions at global corporations, or rolled up
                        our sleeves to turn table-top start-ups into successful
                        international businesses; and in many cases, we’ve done both!


            section.container-fluid
                .row.str-feature-box-container
                    each consultant in consultants
                        .col-12.col-sm-4.str-feature-box.bg-light-cream
                            a.overlay-link(href='#'+consultant.overlayId, data-overlay=consultant.overlayId)
                                img.str-feature-image(src=consultant.image)
                            .str-feature-text.text-center
                                h3.display-3= consultant.fullName
                                h6.display-6.text-uppercase= consultant.title
                                p.summary= consultant.summary
                                .links
                                    a.str-button.btn.btn-primary.btn-lg(href='mailto:' + consultant.email) Get in Touch
                                    a.str-button.btn.btn-lg.btn-outline-secondary.overlay-link(href='#'+consultant.overlayId, data-overlay=consultant.overlayId)= 'About ' + consultant.firstName

                .row.str-cream-blue-box.box-link
                    .col-12.text-center.p-5
                        .circles.text-center
                            .circle.tony
                            .circle.martin
                            .circle.neil
                            a.circle.blue.bg-blue.clr-white(href='/about-us.html') 9+
                        .d-inline-block.consult-link-text-container
                            a.d-inline-block.font-weight-bold(href='/about-us.html').f-28
                                | Show all consultants


            div.overlay-background(id="overlayBg", aria-hidden="true")
                .container-fluid.position-relative.h-100.p-0
                    each service, index in services
                        section.overlay.h-100(id=service.overlayId)
                            .row.h-100.m-0
                                .col-6.p-0.overlay-column.h-100.left
                                    .overlay-image-container.h-100
                                        img(src=service.overlayImage)
                                .col-6.p-0.overlay-column.h-100.right
                                    .close-button-bar
                                        .close-button-container
                                            a.close-button(href="#").bg-blue
                                                .cross
                                    .overlay-content.h-100
                                        .overlay-main.clearfix
                                            h6.clr-dark-blue.text-uppercase.font-weight-bold.clr-mid-blue Services
                                            h2.display-2= service.title
                                            .clr-mid-blue
                                                != service.fullText
                                        if index < services.length - 1
                                            .overlay-footer.bg-light-cream
                                                h6.text-uppercase Next Service
                                                h4.display-4.large
                                                    a.overlay-link(href='#' + services[index + 1].overlayId, data-overlay=services[index + 1].overlayId)= services[index + 1].title
                                        if index > 0
                                            .overlay-footer.bg-light-cream
                                                h6.text-uppercase Previous Service
                                                h4.display-4.large
                                                    a.overlay-link(href='#' + services[index - 1].overlayId, data-overlay=services[index - 1].overlayId)= services[index - 1].title


                    each skill, index in expertise
                        section.overlay.h-100(id=skill.overlayId)
                            .row.h-100.m-0
                                .col-6.p-0.overlay-column.h-100
                                    .overlay-image-container.h-100.close-button
                                .col-6.p-0.overlay-column.h-100
                                    .close-button-bar
                                        .close-button-container
                                            a.close-button(href="#").bg-blue
                                                .cross
                                    .overlay-content.h-100

                                        .overlay-main.clearfix
                                            h6.clr-dark-blue.text-uppercase.font-weight-bold.clr-mid-blue Our Expertise
                                            h2.display-2!= skill.title.replace("<br>", " ")
                                            p.clr-mid-blue= skill.fullText
                                        if index < expertise.length - 1
                                            .overlay-footer.bg-light-cream
                                                h6.text-uppercase Next Field of Expertise
                                                h4.display-4
                                                    a.overlay-link(href='#' + expertise[index + 1].overlayId, data-overlay=expertise[index + 1].overlayId)!= expertise[index + 1].title.replace("<br>", " ")
                                        if index > 0
                                            .overlay-footer.bg-light-cream
                                                h6.text-uppercase Previous Field of Expertise
                                                h4.display-4
                                                    a.overlay-link(href='#' + expertise[index - 1].overlayId, data-overlay=expertise[index - 1].overlayId)!= expertise[index - 1].title.replace("<br>", " ")

                    each consultant in consultants
                        section.overlay.h-100(id=consultant.overlayId)
                            .row.h-100.m-0
                                .col-6.p-0.overlay-column.h-100
                                    .overlay-image-container.h-100
                                        img(src=consultant.overlayImage)
                                .col-6.p-0.overlay-column.h-100
                                    .close-button-bar
                                        .close-button-container
                                            a.close-button(href="#").bg-blue
                                                .cross
                                    .overlay-content.h-100
                                        .overlay-main.clearfix
                                            h6.clr-dark-blue.text-uppercase.font-weight-bold.clr-mid-blue= consultant.title
                                            h2.display-2= consultant.fullName
                                            .clr-mid-blue
                                                != consultant.fullText
                                            .contact-links
                                                if(consultant.twitter)
                                                    a(href=consultant.twitter, target="_blank")
                                                        i.twitter
                                                if(consultant.linkedIn)
                                                    a(href=consultant.linkedIn, target="_blank")
                                                        i.linked-in
                                                if(consultant.email)
                                                    a(href='mailto:'+consultant.email)
                                                        i.email
                                                        span.clr-dark-blue Email
                                        .overlay-footer.bg-light-cream
                                            h4.display-4= 'Speak to ' + consultant.firstName + ' about:'
                                            .consultant-skill-box
                                                each skill in consultant.skills
                                                    if expSkill = expertiseDict[skill]
                                                        a.skill.overlay-link(href='#' + expSkill.overlayId, data-overlay=expSkill.overlayId)!= expSkill.title.replace("<br>", " ").replace("<br>", " ")
                                                    else
                                                        a.skill(href="#")= skill
            -
                var trailerSettings = {
                titleWhite: "Insights from our ",
                titleBlue: "Experts",
                buttonCaption: "Show Insights",
                backgroundClass: ""
                };

            include includes/trailer
        include includes/footer

    include includes/scripts
