include includes/globals
-
    var stories = [
    {
    id: "skyrocket",
    title: "Helping DHL Express<br>Skyrocket Their Sales",
    link: "#",
    image: "img/success-plane.jpg",
    overlay: {
        id: "overlay-dhl-express",
        image: "img/overlay-success-dhl-express.jpg",
        title: "DHL Express Skyrockets Sales",
        challengeText: "Help DHL Express grow market share across its 220 countries and raise EBIT by 20% in two years",
        approachText: "Strategy to Revenue audited the sales organization and suggested DHL Express support a true coaching culture to deliver sustained sales acceleration. In partnership with DHL we rolled out a global sales enablement curriculum in 13 languages for 6,000 sales staff, with manager-led coaching at its core. The game-like curriculum relied on sales managers and their team members working together to achieve their goals. Two-day workshops were run for Regional Sales Leads to ensure buy-in at the highest level. Train-the-facilitator sessions for the top DHL Express Sales Trainers ensured a consistent delivery of the Sales Manager Programme. Sales Manager diaries facilitated self-learning, self-assessment and access to coaching conversations with senior managers; all were supported by videos and a library of e-learning modules.",
        results: [
            "Revenues climbed nearly 10% following the program roll out",
            "Today DHL Express has 34% global market share",
            "No 1 in Europe, Middle East, Africa and Asia",
            "Brandon Hall Excellence Award Winner for Best Program for Sales Training and Performance"
        ]
    }
    },
    {
    id: 'satisfaction',
    title: 'Satisfaction Team Drives 20%<br>Increase in Customer Spend',
    link: '#',
    image: 'img/success-phone.jpg'
    },
    {
    id: 'global',
    title: 'Setting Global Standards<br>for Online Learning',
    link: '#',
    image: 'img/success-global.jpg'
    },
    {
    id: 'motorola',
    title: 'Motorola Onboarding<br>Programme Wins Gold',
    link: '#',
    image: 'img/success-motorola.jpg'
    },
    {
    id: 'behaviours',
    title: 'Global Operator Rings In<br>Improved Sales Behaviours',
    link: '#',
    image: 'img/success-red-lines.jpg'
    },
    {
    id: 'leader',
    title: 'Enabling DHL Global Forwarding<br>to Become Market Leader',
    link: '#',
    image: 'img/success-trucks.jpg'
    },
    {
    id: 'pipeline',
    title: '25 Million Euro Pipeline<br>Delivered in 4 Weeks',
    link: '#',
    image: 'img/success-dhl-vehicles.jpg'
    }
    ]

    currentPage = 'Success Stories'

doctype html
html(lang="en")
    include includes/head

    body.str
        include includes/header

        main

            section.container-fluid.bg-blue
                    .str-hero.jumbotron
                        h1.display-4='Success '
                            span.clr-bright-blue Stories

                        p.lead.
                            We’re proud of the sustained competitive advantage we help our clients achieve. Here are some of the great companies we’ve helped on the journey to incredible.

            section.container-fluid.bg-blue
                    .row.text-center.wide-picture-grid
                        each story in stories
                            .col-6.str-grid-pic
                                .success-image-tile
                                    img.h-align(src=story.image)
                                    .photo-caption.text-left.p-4
                                        h5.display-5.clr-white!= story.title

                                        h6
                                            -
                                                overlayId = story.overlay ? story.overlay.id : ''
                                            a.overlay-link(href='#'+overlayId, data-overlay=overlayId) read success story
            include includes/trailer
            include includes/footer

            div.overlay-background(id="overlayBg", aria-hidden="true")
                .container-fluid.position-relative.h-100.p-0
                    each story, index in stories
                        if story.overlay
                            section.overlay.h-100(id=story.overlay.id)
                                .row.h-100
                                    .col-6.p-0.overlay-column.h-100
                                        .overlay-image-container.h-100
                                            img(src=story.overlay.image)
                                    .col-6.p-0.overlay-column.h-100
                                        .overlay-content.h-100
                                            .close-button-bar
                                                .close-button-container
                                                    a.close-button(href="#").bg-blue
                                                        .cross
                                            .overlay-main.clearfix
                                                h6.clr-dark-blue.text-uppercase.clr-dark-blue Success Story
                                                h2.display-2!= story.overlay.title
                                                h5.overlay-heading.clr-dark-blue.font-weight-bold Challenge
                                                p.lead.clr-dark-blue!= story.overlay.challengeText
                                                h5.overlay-heading.clr-dark-blue.font-weight-bold Approach
                                                p.body!= story.overlay.approachText
                                            if story.overlay.results && story.overlay.results.length > 0
                                                .overlay-footer.bg-light-cream
                                                    h6 Results
                                                each result in story.overlay.results
                                                    .overlay-footer.bg-light-cream
                                                        img(src="img/result-cup.svg")
                                                        h3.display-3= result



    include includes/scripts
