include includes/globals
-

    currentPage = 'Success Stories'

doctype html
html(lang="en")
    include includes/head

    body.str
        include includes/header

        main


            section.container-fluid.bg-blue
                    .str-hero.jumbotron
                        h1.display-1='Success '
                            span.clr-bright-blue Stories

                        p.lead.
                            We’re proud of the sustained competitive advantage we help our clients achieve. Here are some of the great companies we’ve helped on the journey to incredible.

            section.container-fluid.bg-blue
                    .row.text-center.wide-picture-grid.bg-light-cream
                        each story in stories
                            .col-6.str-grid-pic
                                -
                                    overlayId = story.overlay ? story.overlay.id : ''
                                .success-image-tile.overlay-link(data-overlay=overlayId)
                                    img.h-align.pic(src=story.image)
                                    img.h-align.gradient(src="img/shadow.png")
                                    .photo-caption.text-left
                                        h3.display-3(class=story.darkTitle ? "clr-dark-blue" : "clr-white")!= story.title
                                        h5.display-5(class=story.darkTitle ? "clr-dark-blue" : "clr-white")
                                            a.overlay-link(href='#'+overlayId) read success story
            -
                var trailerSettings = {
                    titleWhite: "Our Services and ",
                    titleBlue: "Expertise",
                    buttonCaption: "Show Services",
                    backgroundClass: "services"
                };

            div.overlay-background(id="overlayBg", aria-hidden="true")
                .container-fluid.position-relative.h-100.p-0
                    each story, index in stories
                        if story.overlay
                            section.overlay.h-100(id=story.overlay.id)
                                .row.h-100.m-0
                                    .col-6.p-0.overlay-column.h-100.left
                                        .overlay-image-container.h-100
                                            img(src=story.overlay.image)
                                    .col-6.p-0.overlay-column.h-100.right
                                        .close-button-bar
                                            .close-button-container
                                                a.close-button(href="#").bg-blue
                                                    .cross
                                        .overlay-content.h-100
                                            .overlay-main.clearfix
                                                h6.clr-dark-blue.text-uppercase.clr-dark-blue Success Story
                                                h3.display-3!= story.overlay.title
                                                h4.display-4 Challenge
                                                p.lead.clr-dark-blue!= story.overlay.challengeText
                                            if story.overlay.results && story.overlay.results.length > 0
                                                .overlay-footer.bg-light-cream.lead
                                                    h4.display-4= story.overlay.results.length === 1 ? "Result" : "Results"
                                                    if story.overlay.resultsSubHeader
                                                        p.success-result.clr-dark-blue= story.overlay.resultsSubHeader
                                                each result, index in story.overlay.results
                                                    - var lastClass = index === story.overlay.results.length -1 ? "last" : "";
                                                    .overlay-footer.bg-light-cream.result(class=lastClass)
                                                        img(src="img/result-cup.svg")
                                                        p.success-result.clr-dark-blue= result
                                            .overlay-main.after
                                                h4.display-4 Approach
                                                p.body!= story.overlay.approachText

            include includes/trailer
        include includes/footer




    include includes/scripts
